<launch>
    <node name="Lane_Keeping_System" pkg="gogo_xycar" type="LaneKeepingSystem_node" output="screen"/>
    <param name="config_path" type="str" value="$(find gogo_xycar)/config/config.yaml"/>

    <!-- ROS bag -->
    <node name="rosbag" pkg="rosbag" type="play" args="$(find gogo_xycar)/src/track1.bag"/>

    <!-- Xycar motor -->
    <include file="$(find xycar_motor)/launch/xycar_motor.launch" />
</launch>